body {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/BG-Home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

nav{
  margin: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: black;
  color: white;
  height: 4rem ;
}

h1{
  font-size: xx-large;
  margin-left: 0%;
}

nav button{
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: larger;
  margin-right: 1rem;
  cursor: pointer;
}

.searchService {
  margin: auto;
  margin-top: 4rem;
  width: 50%;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: large;
  border-color: transparent;
  cursor: pointer;
}

#homepage{
  margin: 5rem auto;
  width: 60%;
  padding: 20px 0px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 5px 10px black;
}

section div{
  width: 150px;
  height: 100px;
  padding: 20px 10px 0px;
  border-radius: 3px;
  margin: 12px;
  font-size: 15px;
  text-align: center;
  align-items: center;
}

section img{
  width: 32px;
  height: 32px;
  margin: 0;
}

#login{
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 0%;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 5px 10px black;
  z-index: 2;
}

#icon{
  font-size: large;
  padding: 0%;
  margin: 0%;
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

#form{
  padding-top: 4rem;
  width: 60%;
  margin: auto;
}

input{
  margin-top: 1rem;
  /* padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px; */
}

/* #submit{
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  color: white;
  font-size: large;
  margin-top: 2rem;
} */

#signup{
  color: blue;
  margin-top: 1rem;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

select{
  margin-top: 2rem;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: transparent;
  width: 80%;
  border: 2px solid black;
  padding-left: 15px;
  color: gray;
}

.about{
  background-color: grey;
  margin: -10px;
  padding: 5px;
  text-align: center;
}
.titles{
  padding: 20px;
  text-align: center;
}
